<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.doranco.myquizz.view">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyQuizz">
        <service
            android:name="fr.doranco.myquizz.service.MusicService"
            android:enabled="true"
            android:exported="true"></service>
        <activity android:name=".QuizActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="fr.doranco.myquizz.model.UserProvider"
            android:name="fr.doranco.myquizz.model.UserProvider"/>
    </application>
</manifest>